PACVAMP_REGISTRY_ROOT=/srv/pacvamp
PACVAMP_INDEX_KEY=/etc/pacvamp-registry/index.key
PACVAMP_BUILD_KEY=/etc/pacvamp-registry/build.key
PACVAMP_BUILD_PUB=/etc/pacvamp-registry/build.pub
PACVAMP_GPG_KEY=replace-with-full-gpg-fingerprint
PACVAMP_SOURCE_URL=https://github.com/jdx/pacvamp
PACVAMP_SOURCE_COMMIT=replace-with-pacvamp-git-commit
GNUPGHOME=/var/lib/pacvamp-registry/gnupg
